.cont {
    border: 1px solid black;
    width: 400px;
    padding: 5px 0px 5px 10px;
    margin: 5px;
    border-radius: 20px;
}
.cont0 {
display: flex;
/* justify-content: center;
 */
 align-items: center;
flex-direction: column;    
margin-top: 20px;
}

.form1 {
    display: flex;
    justify-content: center;
}

.form1>input {
    padding: 20px;
    width: 250px;
    border: 3px solid gray;
    border-radius: 20px;
    margin-right: 20px;

}

.form1>div {
    margin-top: 10px;
}

.form1>div>button {
    padding: 10px 20px 10px 20px;
border-radius: 20px;


}
.date1, .status1{
margin-left: 20px;
}