.nav{
  display: flex;
  justify-content: flex-end;
}
.nav>li{
  list-style: none;
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
}
.nav>li>a{
  padding: 5px;
  text-decoration: none;
  color: black;
}
.nav>li:hover{
  background-color: black;
  
}
.nav>li>:hover{
  color: white;}